.container {
	margin-top: 50px;
	font-family: 'Times', serif;
	line-height: 1.7
	font-size: 30px;
	text-align: center;
}

.name {
	text-align: left;
	font-size: 20px;
}

.yr {
	text-align: center;
	font-family: Helvetica;
	line-height: 1.7
}

.tt1 {
	font-size: 30px;
}

.tt2 {
	text-align: center;
	font-family: 'Times', serif;
	font-size: 30px;
	line-height: 1.7
}

.tt3 {
	text-align: center;
	font-family: 'Times', serif;
	font-size: 30px;
	line-height: 1.7
}

.tt4 {
	text-align: center;
	font-family: 'Times', serif;
	font-size: 30px;
	line-height: 1.7
}

.tt5 {
	text-align: center;
	font-family: 'Times', serif;
	font-size: 30px;
	line-height: 1.7
}

.tt6 {
	text-align: center;
	font-family: 'Times', serif;
	font-size: 30px;
	line-height: 1.7
}

.tt7 {
	text-align: center;
	font-family: 'Times', serif;
	font-size: 30px;
	line-height: 1.7
}

.tt8 {
	text-align: center;
	font-family: 'Times', serif;
	font-size: 30px;
	line-height: 1.7
}

.tt9 {
	text-align: center;
	font-family: 'Times', serif;
	font-size: 30px;
	line-height: 1.7
}